*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size: 3rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: sans-serif;
    background: paleturquoise;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    height: 100vh;
}

h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 4rem;
    text-decoration: underline;
}

.Cipher {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
}

.Input {
    font-size: var(--font-size);
    padding: .4rem .5rem;
    border: none;
}

.Shift {
    font-size: 1.4rem;
    background-color: #eee;
    border: none;
    transition: background-color .2s ease-in-out;
}

.Shift:hover {
    background-color: #ddd;
    cursor: pointer;
}

.EncryptedText {
    margin: 5rem 0;
    width: 50rem;
    font-size: 3rem;
    flex: 0 0 100%;
}

.EncryptedText span {
    font-size: 2rem;
    color: white;
}

footer {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}